{% extends "html/index.html.twig" %}

{% block main %}
    {% include 'html/component/breadcrumbs.html.twig' with {'router': enum('App\\Domain\\App\\Router').SYMFONY, 'breadcrumbs': [{
        'url': 'image-generator',
        'label': 'Image generator'|trans
    }]} %}
    <div class="grid grid-cols-1 gap-4">
        <div id="dropzone-wrapper" class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="flex items-center justify-center w-full">
                <label id="dropzone" for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer [&.dragover]:bg-gray-100 hover:bg-gray-100">
                    <div class="flex flex-col items-center justify-center">
                        <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">{{ "Click to upload"|trans }}</span> {{ "or drag and drop"|trans }}</p>
                        <p class="mb-2 text-xs text-gray-500">{{ "SVG, PNG, JPG or GIF"|trans }}</p>
                        <div id="spinner" class="hidden">
                            <div role="status">
                                <svg aria-hidden="true"
                                     class="w-8 h-8 mr-2 text-gray-200 animate-spin fill-orange-500"
                                     viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                          fill="currentColor"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                          fill="currentFill"/>
                                </svg>
                                <span class="sr-only">{{ "Loading..."|trans }}</span>
                            </div>
                        </div>
                        <div id="error" class="hidden items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
                            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div>
                                <span class="font-medium">Error!</span> <span class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" accept="image/*"/>
                </label>
            </div>
        </div>
        <div id="output-wrapper" class="hidden p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="flex items-center justify-center">
                <img class="rounded-lg max-h-[calc(100vh-170px)]" id="output" alt="Preview" src=""/>
            </div>
        </div>
    </div>
    <div id="modal-skeleton" tabindex="-1" aria-hidden="true">
        <!-- Modal content -->
        <div id="modal-content" class="relative bg-white rounded-lg shadow-sm">

        </div>
    </div>
{% endblock %}

{% block customScripts %}
    <script>
        const $spinner = document.querySelector('#spinner');
        const $error = document.querySelector('#error');
        const $errorMessage = $error.querySelector('.error-message');
        const $dropZoneWrapper = document.querySelector('#dropzone-wrapper');
        const $dropZone = document.querySelector('#dropzone');
        const $outputWrapper = document.querySelector('#output-wrapper');

        const $activeMenuLink = document.querySelector('aside li a[data-router-name="image-generator"]');
        $activeMenuLink.setAttribute('aria-selected', 'true');

        const $fileInput = document.getElementById('dropzone-file');
        $fileInput.addEventListener('change', async () => {
            UI.disableFileInput();
            UI.hideError();
            UI.showLoader();
            let [file] = $fileInput.files;

            if (!file.type.startsWith('image/')) {
                UI.hideLoader();
                UI.showError('Only images are allowed.');
                UI.enableFileInput();
                return;
            }

            const reader = new FileReader();

            reader.addEventListener('load', (e) => {
                const imageOutput = document.getElementById('output');
                imageOutput.src = e.target.result;
                UI.showOutputWrapper();
                UI.hideLoader();
            });

            reader.addEventListener('error', (err) => {
                console.error('Error reading file:', err);
                UI.hideLoader();
                UI.showError('An error occurred while reading the file.');
                UI.enableFileInput();
            });

            reader.readAsDataURL(file);
        });

        ['dragenter', 'dragover'].forEach(eventName => {
            $dropZone.addEventListener(eventName, (e) => {
                e.preventDefault();
                e.stopPropagation();
                UI.draggingOver();
            });
        });

        ['dragleave', 'drop'].forEach(eventName => {
            $dropZone.addEventListener(eventName, (e) => {
                e.preventDefault();
                e.stopPropagation();
                UI.notDraggingOver();
            });
        });

        $dropZone.addEventListener('drop', (e) => {
            const files = e.dataTransfer.files;
            if (files.length === 0) return;

            $fileInput.files = files;
            $fileInput.dispatchEvent(new Event('change'));
        });

        const UI = {
            disableFileInput() {
                $fileInput.disabled = true;
            },
            enableFileInput() {
                $fileInput.disabled = false;
            },
            showLoader() {
                $spinner.classList.replace('hidden', 'flex');
            },
            hideLoader() {
                $spinner.classList.replace('flex', 'hidden');
            },
            showError(message) {
                $errorMessage.textContent = message;
                $error.classList.replace('hidden', 'flex');
            },
            hideError() {
                $error.classList.replace('flex', 'hidden');
            },
            showOutputWrapper() {
                $outputWrapper.classList.replace('hidden', 'block');
                $dropZoneWrapper.classList.add('hidden');
            },
            draggingOver() {
                $dropZone.classList.add('dragover');
            },
            notDraggingOver() {
                $dropZone.classList.remove('dragover');
            }
        };
    </script>
{% endblock customScripts %}