@import "tailwindcss" source(none);
@import "../../node_modules/flowbite/src/themes/default.css";
@import "./components/chat.css";
@import "./components/dark-mode.css";
@import "./components/filter-dropdown.css";
@import "./components/tabs.css";
@import "./components/popover.css";
@import "./components/modal.css";
@import "./components/sidebar.css";

@source "../../templates/**/*.html.twig";
@source "../../public/*.html";
@source "../../public/js/**/*.js";
@source "../../src/Infrastructure/Twig/*.php";
@source "../../src/Domain/Dashboard/Widget/TrainingLoad/*.php";

@plugin "tailwind-scrollbar";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
    --text-xxs: 0.625rem;
    --color-strava-orange: #F26722;
    --color-grey-yo: #cccccc;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant aria-asc (&[aria-sort="ascending"]);
@custom-variant aria-desc (&[aria-sort="descending"]);
@custom-variant sidebar-collapsed (&:where([data-sidebar-collapsed], [data-sidebar-collapsed] *));
@custom-variant fullscreen-enabled (&:where([data-fullscreen-enabled], [data-fullscreen-enabled] *));

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body .lg-outer {
        z-index: 1500 !important;
    }

    body .lg-backdrop {
        z-index: 1490 !important;
        opacity: 0.9 !important;
    }

    .overflow-auto, .overflow-x-auto{
        @apply scrollbar-thin;
    }

    .leaflet-tile-pane {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    #heatmap .leaflet-tile-pane {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    #heatmap.enable-grey-scale .leaflet-tile-pane {
        -webkit-filter: grayscale(100%) brightness(75%);
        filter: grayscale(100%) brightness(75%);
    }

    .leaflet-popup-content-wrapper .leaflet-popup-content{
        @apply text-base! m-0! leading-none!;
    }

    .leaflet-control--custom {
        @apply rounded-sm border-2 border-black/30 bg-white bg-clip-padding divide-y divide-grey-yo;

        & li {
            @apply p-1 cursor-pointer hover:bg-[#f4f4f4];
        }
    }
}

@layer components {
    div[data-datatable-settings]{
        .clusterize-data-empty td{
            @apply text-left p-4;
        }
    }
}
