@layer utilities {
    .enable-grey-scale .leaflet-tile-pane {
        @apply grayscale;
    }

    #heatmap.enable-grey-scale .leaflet-tile-pane {
        @apply brightness-75
    }

    .leaflet-popup-content-wrapper .leaflet-popup-content {
        @apply text-base! m-0! leading-none!;
    }

    .leaflet-control--custom {
        @apply rounded-sm border-2 border-black/30 bg-white bg-clip-padding divide-y divide-grey-yo;

        & li {
            @apply p-1 cursor-pointer hover:bg-[#f4f4f4];
        }

        & a[role="button"] {
            @apply flex! items-center justify-center;
        }
    }

    @keyframes leaflet-ctrl-scroll-zoom-fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .leaflet-ctrl-scroll-zoom-warning::after {
        content: attr(data-ctrl-scroll-zoom-message);
        animation: leaflet-ctrl-scroll-zoom-fadein .8s forwards;
        @apply absolute inset-0 flex justify-center items-center p-4 text-white text-center text-xl;
        @apply pointer-events-none bg-black/50 z-[461];
    }
}
