@layer utilities {
    .leaflet-tile-pane {
        @apply grayscale;
    }

    #heatmap .leaflet-tile-pane {
        @apply grayscale-0;
    }

    #heatmap.enable-grey-scale .leaflet-tile-pane {
        @apply grayscale brightness-75
    }

    .leaflet-popup-content-wrapper .leaflet-popup-content{
        @apply text-base! m-0! leading-none!;
    }

    .leaflet-control--custom {
        @apply rounded-sm border-2 border-black/30 bg-white bg-clip-padding divide-y divide-grey-yo;

        & li {
            @apply p-1 cursor-pointer hover:bg-[#f4f4f4];
        }
    }
}
