@layer components {
    #modal-content > .modal-header {
        @apply p-4 md:p-5 border-b rounded-t-sm;

        & h3 {
            @apply flex items-center text-lg font-semibold text-gray-900;
        }

        & button.close {
            @apply cursor-pointer text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center;
        }
    }

    #modal-content > .modal-body {
        @apply p-4 md:p-5;
    }
}
