@import "tailwindcss" source(none);
@import "flowbite/src/themes/default";

@source "../../../templates/**/*.html.twig";
@source "../../../public/app.php";
@source "../../../public/*.html";
@source "../../../public/assets/leaflet/leaflet.fly.to.places.js";
@source "../../../src/Infrastructure/Twig/*.php";

@plugin "flowbite/plugin";
@source "../../../node_modules/flowbite";

@theme {
    --text-xxs: 0.625rem;
    --color-strava-orange: #F26722;
    --color-grey-yo: #cccccc;

    --animate-fade-in-chat-message: chat-message 0.15s ease-out 0s forwards;
    @keyframes chat-message {
        0% {
            max-height: 100vmax;
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
            max-height: 100vmax;
            overflow: visible;
        }
    }
}

@custom-variant aria-asc (&[aria-sort="ascending"]);
@custom-variant aria-desc (&[aria-sort="descending"]);

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body .lg-outer {
        z-index: 1500 !important;
    }

    body .lg-backdrop {
        z-index: 1490 !important;
        opacity: 0.9 !important;
    }

    .leaflet-tile-pane {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    #heatmap .leaflet-tile-pane {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    #heatmap.enable-grey-scale .leaflet-tile-pane {
        -webkit-filter: grayscale(100%) brightness(75%);
        filter: grayscale(100%) brightness(75%);
    }

    .leaflet-control--fly-to-places {
        @apply rounded-sm border-2 border-black/[.3] bg-white bg-clip-padding divide-y divide-grey-yo;

        & li {
            @apply p-1 cursor-pointer hover:bg-[#f4f4f4];
        }
    }

    .autoComplete_wrapper {
        @apply inline-block relative w-full;

        & > ul {
            @apply absolute max-h-[250px] overflow-y-scroll left-0 right-0 bottom-[60px] p-0 z-10 list-none rounded-lg bg-white border border-gray-200 shadow-lg outline-none transition-opacity duration-150 ease-in-out;

            &:empty,
            &[hidden] {
                @apply block opacity-0 scale-0;
            }

            & > li {
                @apply m-1 p-2 text-left text-gray-900 rounded-lg bg-white whitespace-nowrap overflow-hidden text-ellipsis transition-all duration-200 ease-in-out;

                & mark {
                    @apply bg-transparent text-strava-orange font-bold;
                }

                &:hover,
                &[aria-selected="true"] {
                    @apply cursor-pointer bg-strava-orange/15;
                }
            }
        }
    }
}