{% autoescape false %}
    <h3 class="mb-4 text-lg font-semibold">
        {{ "Heart rate zones"|trans }}
    </h3>
    <div class="h-80" data-echarts-options='{{ timeInHeartRateZoneChart }}'></div>
{% endautoescape %}