{% autoescape false %}
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold">{{ "Training Load Analysis"|trans }}</h3>
        <a href="#" data-model-content-url="{{ relativeUrl('training-load.html') }}"
           class="shrink-0 inline-flex items-center p-2 text-sm font-medium rounded-lg text-blue-600 hover:bg-gray-100">
            {{ "View details"|trans }}
        </a>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
        {% include 'html/dashboard/training-metrics.html.twig' with {
            'trainingMetrics': trainingMetrics,
            'timeInHeartRateZonesForLast30Days': timeInHeartRateZonesForLast30Days,
            'context': 'page'
        } %}
    </div>
{% endautoescape %}