{% autoescape false %}
    <h3 class="mb-4 text-lg font-semibold">
        {{ "Athlete profile"|trans }}
    </h3>
    <div class="h-full min-h-[16rem]" data-echarts-options='{{ athleteProfileChart }}'></div>
{% endautoescape %}