{% autoescape false %}
    {% set activity = image.getActivity() %}
    <a class="h-104 w-full flex flex-col items-center" href="#" data-model-content-url="{{ relativeUrl('activity/' ~ activity.getId() ~ '.html') }}" target="_blank">
        <img class="max-h-full max-w-full rounded-lg lazy" data-src="{{ relativeUrl(image.getImageUrl()) }}" alt="{{ activity.getName() }}" src="{{ placeholderImage(image.getOrientation()) }}" />
    </a>
{% endautoescape %}