# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    env(APP_DEBUG): 0
    env(LOCK_DSN): 'flock'
    env(TZ): ''

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    _instanceof:
        NeuronAI\Tools\ToolInterface:
            tags: [ 'app.ai_tool' ]

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Infrastructure\Exception\ErrorResponseExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

    Doctrine\Migrations\Version\DbalMigrationFactory: ~
    App\Infrastructure\Doctrine\Migrations\Factory\CommandBusAwareMigrationFactory:
        decorates: Doctrine\Migrations\Version\DbalMigrationFactory
        arguments: [ '@App\Infrastructure\Doctrine\Migrations\Factory\CommandBusAwareMigrationFactory.inner' ]

    App\Infrastructure\Daemon\Cron\ConfiguredCronActions:
      factory: [ null, 'fromConfig' ]
      arguments: [ '@=app_config("daemon.cron", [])' ]

    App\Infrastructure\KeyValue\KeyValueStore:
      class: App\Infrastructure\KeyValue\DbalKeyValueStore
      public: true

    App\Infrastructure\ValueObject\String\KernelProjectDir:
        public: true
        factory: [ null, 'fromString' ]
        arguments: ['%kernel.project_dir%']

    App\Infrastructure\ValueObject\String\PlatformEnvironment:
        public: true
        autoconfigure: false
        factory: [ null, 'fromServer' ]

    App\Infrastructure\Time\Format\DateAndTimeFormat:
        factory: [ null, 'create' ]
        arguments: [
            '@=app_config("appearance.dateFormat.short", "d-m-y")',
            '@=app_config("appearance.dateFormat.normal", "d-m-Y")',
            '@=app_config("appearance.dateFormat", "")',
            '@=app_config("appearance.timeFormat")',
        ]

    App\Infrastructure\ValueObject\Time\SerializableTimezone:
        factory: [ null, 'fromOptionalString' ]
        arguments: ['%env(string:TZ)%']

    App\Infrastructure\ValueObject\Measurement\UnitSystem:
        autoconfigure: false
        factory: [ null, 'from' ]
        arguments: [ '@=app_config("appearance.unitSystem")' ]

    App\Infrastructure\Localisation\Locale:
        autoconfigure: false
        factory: [ null, 'from' ]
        arguments: ['@=app_config("appearance.locale")']

    App\Application\AppSubTitle:
        factory: [ null, 'fromOptionalString' ]
        arguments: [ '@=app_config("general.appSubTitle", "")' ]

    App\Application\AppUrl:
        factory: [ null, 'fromString' ]
        arguments: ['@=app_config("general.appUrl")']

    App\Application\ProfilePictureUrl:
      factory: [ null, 'fromOptionalString' ]
      arguments: ['@=app_config("general.profilePictureUrl")']

    App\Application\Build\BuildHeatmapHtml\HeatmapConfig:
        factory: [ null, 'create' ]
        arguments: [
            '@=app_config("appearance.heatmap.polylineColor", "#fc6719")',
            '@=app_config("appearance.heatmap.tileLayerUrl", "https://tile.openstreetmap.org/{z}/{x}/{y}.png")',
            '@=app_config("appearance.heatmap.enableGreyScale", true)'
        ]

    App\Application\Build\BuildPhotosHtml\DefaultEnabledPhotoFilters:
        factory: [ null, 'from' ]
        arguments: ['@=app_config("appearance.photos.defaultEnabledFilters", [])']

    App\Application\Build\BuildPhotosHtml\HidePhotosForSportTypes:
      factory: [ null, 'from' ]
      arguments: ['@=app_config("appearance.photos.hidePhotosForSportTypes", [])']

    App\Application\Import\ImportActivities\ActivityVisibilitiesToImport:
      factory: [ null, 'from' ]
      arguments: ['@=app_config("import.activityVisibilitiesToImport")']

    App\Application\Import\ImportActivities\NumberOfNewActivitiesToProcessPerImport:
      factory: [ null, 'fromInt' ]
      arguments: ['@=app_config("import.numberOfNewActivitiesToProcessPerImport")']

    App\Application\Import\ImportActivities\ActivitiesToSkipDuringImport:
      factory: [ null, 'from' ]
      arguments: ['@=app_config("import.activitiesToSkipDuringImport")']

    App\Application\Import\ImportActivities\SkipActivitiesRecordedBefore:
      factory: [ null, 'fromOptionalString' ]
      arguments: ['@=app_config("import.skipActivitiesRecordedBefore")']

    App\Application\Import\ImportSegments\OptInToSegmentDetailsImport:
      factory: [ null, 'fromBool' ]
      arguments: [ '@=app_config("import.optInToSegmentDetailImport", false)' ]

    NeuronAI\AgentInterface:
        class: App\Domain\Integration\AI\NeuronAIAgent

    NeuronAI\Chat\History\ChatHistoryInterface:
        class: App\Domain\Integration\AI\Chat\SFSChatHistory

    NeuronAI\Tools\Toolkits\ToolkitInterface:
        class: App\Domain\Integration\AI\Tool\Toolkit

    App\Domain\Dashboard\DashboardLayout:
      factory: [ null, 'fromArray' ]
      arguments: ['@=app_config("appearance.dashboard.layout", [])']

    App\Domain\Integration\AI\Chat\ChatCommands:
        factory: [ null, 'fromArray' ]
        arguments: ['@=app_config("integrations.ai.agent.commands", [])']

    App\Domain\Integration\AI\AIProviderFactory:
        arguments: ['@=app_config("integrations.ai", [])']

    App\Domain\Integration\Notification\Shoutrrr\ConfiguredNotificationServices:
      factory: [ null, 'fromConfig' ]
      arguments: [
        '@=app_config("integrations.notifications.services", [])',
        '@=app_config("integrations.notifications.ntfyUrl", "")',
        '@=app_config("integrations.notifications.ntfyUsername", "")',
        '@=app_config("integrations.notifications.ntfyPassword", "")'
      ]

    App\Domain\Strava\StravaClientId:
        factory: [ null, 'fromString' ]
        arguments: ['%env(string:STRAVA_CLIENT_ID)%']

    App\Domain\Strava\StravaClientSecret:
        factory: [ null, 'fromString' ]
        arguments: ['%env(string:STRAVA_CLIENT_SECRET)%']

    App\Domain\Strava\StravaRefreshToken:
        factory: [ null, 'fromString' ]
        arguments: ['%env(string:STRAVA_REFRESH_TOKEN)%']

    App\Domain\Athlete\AthleteBirthDate:
        factory: [ null, 'fromString' ]
        arguments: ['@=app_config("general.athlete.birthday")']

    App\Domain\Athlete\HeartRateZone\HeartRateZoneConfiguration:
        factory: [ null, 'fromArray' ]
        arguments: ['@=app_config("general.athlete.heartRateZones", [])']

    App\Domain\Athlete\MaxHeartRate\MaxHeartRateFormula:
        factory: [ '@App\Domain\Athlete\MaxHeartRate\MaxHeartRateFormulas', 'determineFormula' ]
        arguments: ['@=app_config("general.athlete.maxHeartRateFormula")']

    App\Domain\Athlete\RestingHeartRate\RestingHeartRateFormula:
        factory: [ '@App\Domain\Athlete\RestingHeartRate\RestingHeartRateFormulas', 'determineFormula' ]
        arguments: ['@=app_config("general.athlete.restingHeartRateFormula", "heuristicAgeBased")']

    App\Domain\Activity\Eddington\Config\EddingtonConfiguration:
        factory: [ null, 'fromScalarArray' ]
        arguments: ['@=app_config("metrics.eddington", [])']

    App\Domain\Activity\SportType\SportTypesSortingOrder:
        factory: [ null, 'from' ]
        arguments: ['@=app_config("appearance.sportTypesSortingOrder", [])']

    App\Domain\Activity\SportType\SportTypesToImport:
        factory: [ null, 'from' ]
        arguments: ['@=app_config("import.sportTypesToImport")']

    App\Domain\Athlete\Weight\AthleteWeightHistory:
        factory: [ null, 'fromArray' ]
        arguments: [
            '@=app_config("general.athlete.weightHistory")',
            '@App\Infrastructure\ValueObject\Measurement\UnitSystem'
        ]

    App\Domain\Ftp\FtpHistory:
        factory: [ null, 'fromArray' ]
        arguments: ['@=app_config("general.athlete.ftpHistory")']

    App\Domain\Gear\CustomGear\CustomGearConfig:
        factory: [ null, 'fromArray' ]
        arguments: ['@=app_config("gear.customGear", [])']

    App\Domain\Gear\ImportedGear\ImportedGearConfig:
      factory: [ null, 'fromArray' ]
      arguments: ['@=app_config("gear.stravaGear", [])']

    App\Domain\Gear\Maintenance\GearMaintenanceConfig:
        factory: [ null, 'fromArray' ]
        arguments: ['@=app_config("gearMaintenance", [])']

    App\Domain\Strava\Webhook\WebhookConfig:
      factory: [ null, 'fromArray' ]
      arguments: ['@=app_config("import.webhooks", [])']

    App\Domain\Zwift\ZwiftLevel:
        factory: [ null, 'fromOptionalString' ]
        arguments: ['@=app_config("zwift.level")']

    App\Domain\Zwift\ZwiftRacingScore:
        factory: [ null, 'fromOptionalString' ]
        arguments: ['@=app_config("zwift.racingScore")']

    # Autowiring of vendor classes
    League\Flysystem\FilesystemOperator: '@default.storage'

    Linkin\Component\DoctrineNamingStrategy\ORM\Mapping\CamelCaseNamingStrategy:
      class: Linkin\Component\DoctrineNamingStrategy\ORM\Mapping\CamelCaseNamingStrategy

    GuzzleHttp\Client:
      class: GuzzleHttp\Client

    Money\MoneyFormatter:
        factory: '@App\Infrastructure\DependencyInjection\MoneyFormatterFactory'